/**/*.ts
/**/*.js.map
!/**/*.d.ts
/tests/**/*.*
/*.js
/*.d.ts
!index.js
!index.d.ts
/coverage/
/.devcontainer/
/.github/
/.idea/
/Makefile
/.editorconfig
/.eslintignore
/.eslintcache
/.eslintrc.json
/.prettierignore
/.prettierrc
/tsconfig*.json
